$primary: rgb(43, 32, 19);
$secondary: #4c8e39;
$navbar-light-hover-color: $secondary;
$navbar-light-toggler-border-color: white;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
#map {
    height: 75vh;
}

#navbarContainer {
    border-bottom: 2px solid lightgray;
    background-color: white;
}

.navbar .nav-item .nav-link {
    color: $primary;
    font-size: 20px;
}

.iconColor {
    color: black;
}

#user-name {
    color: $primary;
}

.navbar .navbar-brand {
    color: $primary;
    font-size: 20px;
    font-weight: 900;
}

html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.navbar-brand .material-icons {
    max-height: 50px;
}

nav ul li a {
    margin: auto 10px;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

#user-pic {
    background-image: url('/images/profile_placeholder.png');
    width: 25px;
    height: 25px;
    background-size: 25px;
    border-radius: 20px;
    padding-right: 2px;
}

.btn:hover {
    color: $secondary;
}