$primary: rgb(43, 32, 19);
$secondary: #855c3b;
$navbar-light-hover-color: $secondary;
$navbar-light-toggler-border-color: $primary;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
#map {
    height: 75vh;
}

nav {
    background-color: white;
}

.navbar .nav-item .nav-link {
    color: $primary;
    font-size: 20px;
}

#user-name {
    color: $primary;
}

.navbar .navbar-brand {
    color: $primary;
    font-size: 20px;
    font-weight: 900;
}

.icon-color {
    color: $primary;
}

html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.navbar-brand .material-icons {
    max-height: 50px;
}

nav ul li a {
    margin: auto 10px;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

#user-pic {
    background-image: url('/images/profile_placeholder.png');
    width: 25px;
    height: 25px;
    background-size: 25px;
    border-radius: 20px;
    padding-right: 2px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}